@page "/orders/{orderId:int}/allfurniture/{furnitureId:int}/parts"
@page "/rolka114/orders/{orderId:int}/allfurniture/{furnitureId:int}/parts"

@inject IPartsService PartsService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Parts</PageTitle>

<h3>Furniture Nr @FurnitureId Parts</h3>

@if (Loaded)
{
    @if (PartsService.Parts.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <th>Id</th>
                            <th>Order Id</th>
                            <th>Furniture Id</th>
                        </Authorized>
                        <NotAuthorized />
                    </AuthorizeView>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Colour</th>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <th></th>
                        </Authorized>
                        <NotAuthorized />
                    </AuthorizeView>

                </tr>
            </thead>
            <tbody>
                @foreach (var part in PartsService.Parts)
                {
                    <tr>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <td>@part.Id</td>
                                <td>@OrderId</td>
                                <td>@FurnitureId</td>
                            </Authorized>
                            <NotAuthorized />
                        </AuthorizeView>
                        <td>@part.Name</td>
                        <td>@part.Price</td>
                        <td>@part.Color</td>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <td><button class="btn btn-primary" @onclick="(() => ShowPart(part.Id))"><i class="oi oi-pencil"></i></button></td>
                            </Authorized>
                            <NotAuthorized />
                        </AuthorizeView>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No parts found</h2>
    }
}
else
{
    <div class="loader">Loading...</div>
}
<AuthorizeView Roles="Admin">
    <Authorized>
        <button class="btn btn-primary" @onclick="CreateNewPart">Add a new part</button>
    </Authorized>
    <NotAuthorized />
</AuthorizeView>

@code {
    [Parameter]
    public int OrderId { get; set; }
    [Parameter]
    public int FurnitureId { get; set; }
    bool Loaded = false;

    protected override async Task OnInitializedAsync()
    {
        await PartsService.GetParts(OrderId, FurnitureId);
        Loaded = true;
    }

    void ShowPart(int id)
    {
        NavigationManager.NavigateTo($"{Settings.Url2}/orders/{OrderId}/allfurniture/{FurnitureId}/part/{id}");
    }

    void CreateNewPart()
    {
        NavigationManager.NavigateTo($"{Settings.Url2}/orders/{OrderId}/allfurniture/{FurnitureId}/part");
    }
}